<ion-view view-title="注册" name="signup-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="电子邮件" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="姓名" ng-model="data.name">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="密码" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="确认密码" ng-model="data.confirmedpassword">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="signup()">注册</button>
      <p class="text-center">
          <a href="#/login">登陆</a>
      </p>
  </ion-content>
</ion-view>