<ion-view title="Add Field">

  <!--<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
-->
  <ion-nav-buttons side="right">
    <button ng-click="save();" class="button button-icon icon ion-android-done-all"></button>
  </ion-nav-buttons>

  <ion-content data-tap-disabled="true">

    <leaflet defaults="map.defaults" layers="map.layers" center="map.center" controls="map.controls" markers="map.markers" ng-if="map"></leaflet>

  </ion-content>

</ion-view>