     <ion-view view-title="Fields">
      <ion-nav-buttons side="right">
			<a class="button button-clear icon ion-ios-plus-empty" href="#/tab/addField"></a>
      </ion-nav-buttons>     
        <ion-content class="padding">
			<ion-list>
			      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="field in Fields" type="item-text-wrap" href="#/tab/fields/{{field._id}}">
			        <h2>{{field.name}}</h2>
			        <p>b</p>
			        <i class="icon ion-chevron-right icon-accessory"></i>

			        <ion-option-button class="button-assertive" ng-click="remove(chat)">
			          Delete
			        </ion-option-button>
			      </ion-item>
			    </ion-list>
        </ion-content>
      </ion-view>